<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="{% static '/favicon.ico' %}">
    <title>Login-IFMS</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static '/dist/css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static '/asset/css/signin.css' %}"></head>
<body class="text-center">
<form class="form-signin" method="post" action="{% url 'login' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <img class="mb-4" src="{% static '/asset/brand/bootstrap-solid.svg' %}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">IceFire Management System</h1>
    <h1 class="h3 mb-3 font-weight-normal">Welcome , Please sign in!</h1>
    {% if message %}
        <p class="mb-3 text-danger">{{ message }}</p>
    {% endif %}
    <label for="inputUsername" class="sr-only">Email</label>
    <input type="text" id="inputUsername" name="email" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
</body>
</html>
